body {
  font-family: sans-serif;
  background-color: black;
  color: lightgreen;
  font-family: computer;
  height: 100%;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'computer';
  src: url('/computer.ttf');
}

@font-face {
  font-family: 'gaming';
  src: url('/retro.ttf');
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.current-word {
  font-weight: bolder;
}

.home-view {
  display: flex;
  justify-content: center;
}

.chat-view {
  display: flex;
}

.chat-view input {
  position: fixed;
  width: 53%;
  bottom: 0;
  margin-left: 25%;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  margin-left: 25%;
  margin-right: 20%;
  width: 50%;
  height: 90%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  display: flex;
  align-items: center;
}

.messages > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  width: 100%;
}

.messages p {
  width: 100%;
  overflow-wrap: break-word;
}

.start-view,
.score-view {
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.start-view button,
.score-view button {
  background-color: black;
  color: lightgreen;
  font-family: 'computer';
}

.game-view {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.welcome-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}

input {
  background-color: black;
  color: lightgreen;
  font-family: 'gaming';
}

.welcome-view h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 38%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #232323;
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.message-content {
  font-family: 'gaming';
}

.online {
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  background-color: #232323;
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
}

.timer {
  position: absolute;
  top: 0;
  right: 0;
  font-size: x-large;
}

.preview {
  height: 300px;
  overflow: auto;
  font-family: 'gaming';
}

.top-scores {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-bottom: 2em;
}

.top-scores p {
  align-self: center;
}

.top-scores div {
  display: flex;
  justify-content: space-between;
}

.chat-link {
  color: purple;
}

.play-link {
  color: blue;
}
